! Goldie Lin`s ~/.Xresources for urxvt (rxvt-unicode)
!   After modified, use `xrdb -I$HOME -merge ~/.Xresources`
!   to reload setting, and then restart urxvt.
! Required packages: (via `sudo apt-get install ...`)
!   Fonts:
!     xfonts-wqy xfonts-terminus xfonts-terminus-oblique
!   For urxvt/perl/clipboard:
!     xsel xclip

! DO NOT uncomment this line, or it will result in unusable terminal.
! https://bbs.archlinux.org/viewtopic.php?id=70070
!URxvt.borderLess: false

! URXVT options:
URxvt.geometry: 86x28
URxvt.skipScroll:         true
URxvt.scrollstyle:        next
URxvt.scrollBar:          false
!URxvt.scrollBar_right:    true
!URxvt.scrollBar_floating: false
!URxvt.scrollBar_align:    centre
URxvt.scrollTtyOutput:   false
URxvt.scrollWithBuffer:  true
URxvt.scrollTtyKeypress: true
URxvt.saveLines:         0
URxvt.secondaryScreen:   true
URxvt.secondaryScroll:   false
!URxvt.visualBell:  true
URxvt.cursorBlink: true
!URxvt.termName:    screen-256color
URxvt.termName:    rxvt-unicode-256color

! start as a login shell
!URxvt.loginShell: true

! Multichar encoding:
!URxvt.multichar_encoding:big5

! Color settings:
!URxvt.background:   #000000
!URxvt.foreground:   #AAAAAA
URxvt.colorBD:      #FFFF00
URxvt.colorIT:      #FF00FF
URxvt.colorUL:      #3465A4
!URxvt.cursorColor:  #EE8888
URxvt.cursorColor2: Gray25

! ref: https://github.com/chriskempson/tomorrow-theme/blob/master/Xdefaults/XresourceTomorrowNightEighties
!TomorrowNightEighties
#define t_background   #2d2d2d
#define t_current_line #393939
#define t_selection    #515151
#define t_foreground   #cccccc
#define t_comment      #999999
#define t_red          #f2777a
#define t_orange       #f99157
#define t_yellow       #ffcc66
#define t_green        #99cc99
#define t_aqua         #66cccc
#define t_blue         #6699cc
#define t_purple       #cc99cc

*.foreground:   t_foreground
*.background:   t_background
*.cursorColor:  #aeafad

! Black / Grey
*.color0:       #000000
*.color8:       #666666

! Red / Bright Red
*.color1:       t_red
*.color9:       #FF3334

! Green + Bright Green
*.color2:       t_green
*.color10:      #9ec400

! Yellow (Orange) + Bright Yellow (Yellow)
*.color3:       t_orange
*.color11:      t_yellow

! Blue + Bright Blue
*.color4:       t_blue
*.color12:      t_blue

! Magenta (Purple) + Bright Magenta
*.color5:       t_purple
*.color13:      #b777e0

! Cyan (Aqua) + Bright Cyan
*.color6:       t_aqua
*.color14:      #54ced6

! Light Grey (Selection) + White (Current Line)
*.color7:       t_selection
*.color15:      t_current_line

! Transparent:
!URxvt.transparent: true
! 0 to 99 darkens, 101 to 200 lightens
!URxvt.shading:     10
! Avoid using shading if you have tintColor set.
!URxvt.tintColor:   Blue3

! List what urxvt perl extensions enabled by default:
!   `man urxvt-extensions | grep 'enabled by default'`

! Enable and config urxvt perl extensions.
! matcher:
!   Clickable URLs.
! tabbed:
!   Shift + DownArrow  : Create a new tab.
!   Shift + Left/Right : Switch between tabs.
!   Ctrl  + Left/Right : Move tab to left/right.
!   Ctrl  + D          : Close tab.
URxvt.perl-ext-common: default,matcher,selection-to-clipboard,selection-autotransform,clipboard,keyboard-select,url-select
! selection:
URxvt.selection.pattern-0: ([^:│$#[:space:]]+)
URxvt.selection.pattern-1: (^[^:│[:space:]]+:\\d+:)
!URxvt.selection.pattern-2: ([^&()*,;<=>?@[\\\\]^`{|})]+)
! Set URL open by urlLauncher via left mouse button (1), or middle mouse button (2):
URxvt.urlLauncher:    firefox
! ref: `man urxvt-matcher`
URxvt.url-launcher:       firefox
URxvt.keysym.C-Delete:    matcher:last
URxvt.keysym.M-Delete:    matcher:list
URxvt.matcher.button: 2
!URxvt.matcher.pattern.1:  \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]
!URxvt.matcher.pattern.2:  \\B(/\\S+?):(\\d+)(?=:|$)
!URxvt.matcher.launcher.2: gvim +$2 $1
! tabbed:
!URxvt.tabbed.tabbar-fg: 8
!URxvt.tabbed.tabbar-bg: 7
!URxvt.tabbed.tab-fg:    15
!URxvt.tabbed.tab-bg:    12
! selection-autotransform:
URxvt.selection-autotransform.0: s/^([^:[:space:]]+):(\\d+):?$/vi +$2 \\Q$1\\E\\x0d/
URxvt.selection-autotransform.1: s/^([^:[:space:]]+):(\\d+):?$/:e \\Q$1\\E\\x0d:$2\\x0d/
! keyboard-select:
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s:      perl:keyboard-select:search
! url-select:
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.autocopy:  true
URvxt.url-select.button:    2
URxvt.url-select.launcher:  firefox

! Append local .Xresources
#include ".Xresources.local"
